<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 app-footer">
                <h3>¿Qué hacemos?</h3>
                <p>Mi Red social permite la interacción entre usuarios y cuenta con diferentes estilos según caracteristicas fisicas y emocionales para cada una de las personas.
                </p>
            </div>
            <div class="col-lg-4 app-footer">
                <h3>Sigueme en Redes</h3>
                <p>
                    <a href="https://www.facebook.com/yeissonMLopez/"><i class="fab fa-facebook-square"></i><span> Contactanos en Facebook</span></a><br>
                    <a href="https://www.instagram.com/mickxwq/"><i class="fab fa-instagram"></i><span> Contactanos en Instagram</span></a><br>
                    <a href=""><i class="fab fa-whatsapp"></i><span> 3175491345</span></a><br>
                    <a href=""><i class="fab fa-twitter"></i><span> Contactanos en Twitter</span></a>
                </p>
            </div>
            <div class="col-lg-4 app-footer">
                <h3>Contactanos</h3>
                <p>
                    <span>Tunja-Boyacá-Colombia</span><br>
                    <span>Calle 5A# 17-38</span><br>
                    <i class="fas fa-phone-square-alt"></i>
                    <span>3175491345</span><br>
                    <i class="fas fa-at"></i>
                    <span>yeissonmiguelgmail.com</span>
                </p>
            </div>
        </div>
        <p style="margin: 0;">&copy; 2020 Yeisson Miguel Lopez</p>
    </div>

</footer>