img {
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.navbar-personalizado {
    background-color: #9669FF;
}

.app-bienvenido {
    color: #4B3480;
    font-size: 30px;
}

.app-footer {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
    width: 100%;
}

.app-footer>h3 {
    font-size: 20px;
    color: white;
    background-color: #9669FF;
    width: 100%;
    margin: 0;
}

.app-footer>p {
    font-size: 15px;
    width: 100%;
    color: white;
    background-color: #9669FF;
    text-align: center;
    padding: 5px;
    margin: 0;
}

.app-iniciar-sesion {
    color: #704EBF;
    font-size: 15px;
    margin-bottom: 20px;
}

.button-inicio-sesion {
    text-decoration: none;
    padding: 10px;
    font-weight: 200;
    font-size: 15px;
    color: #ffffff;
    background-color: #9669FF;
    border-radius: 10px;
    border: 2px solid #704EBF;
}

.button-personalizado {
    border: 2px solid white;
    outline: none;
    background: #9669FF;
    border: 2px solid;
    border-color: white;
    position: relative;
}

.button-personalizado:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px #4B3480;
    transition: all 0.2s ease;
}

.navbar-personalizado>a {
    color: white;
    text-shadow: none;
    font-size: 22px;
    font-weight: bold;
}

.nav-personalizado>li>a {
    color: white;
    font-size: 20px;
    text-shadow: none;
    font-weight: lighter;
}

.conteneder-login {
    margin-top: 10%;
    margin-bottom: 13%;
}

footer {
    font-size: 0.75em;
    text-align: center;
    // width: 100%;
    margin-top: 12%;
    background-color: #9669FF;
    color: #CCC;
    margin: 0;
}

@media all and (min-width: 375px) {
    #boton-iniciar-s {
        width: 120px;
    }
}

@media all and (min-width: 425px) {
    #boton-iniciar-s {
        width: 130px;
    }
}

@media all and (min-width: 768px) {
    #boton-iniciar-s {
        width: 210px;
    }
    #div-boton-is {
        margin: 0 auto;
        padding: 0;
        text-align: center
    }
}

@media all and (min-width: 1024px) {
    #boton-iniciar-s {
        width: 200px;
    }
}