.app-div-form {
    margin: 10px;
    padding: 5px;
    border-left: 3px solid #F4F5F5;
    border-right: 3px solid #F4F5F5;
    border-bottom: 3px solid #F4F5F5;
}

.app-centrar {
    align-content: center;
    text-align: center;
}

.app-div-separator {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-personalizado {
    background-color: #5854E8;
    color: white;
    width: 150px;
    margin-bottom: 20px;
}